@import '../node_modules/minireset.css/minireset';
@import 'partials/_variables';


html {
  scroll-behavior: smooth;
}

body {
  color: $primary-color;
  font-family: $primary-typo;

}

h1 {
  font-family: "Great Vibes", cursive;
}

h2 {
  padding: 2rem 1rem 2rem 0;
  font-family: "Great Vibes", cursive;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 300;
  text-decoration: underline ;
  text-decoration-thickness: 1px;
}

h3 {
  padding: 0.6rem 0;
  font-size: 1.6rem;
  font-weight: 300;
}

section {
  margin-bottom: 5rem;

  @media#{$desktop}{
    margin: 0 5% 0 5%;
    padding-top: 3%
  }
  @media#{$large}{
    margin-bottom: 5rem;
  }
}

// HEADER
header {
  height: 93vh;
  background: $bg-image no-repeat center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

  p {
    font-size: 3rem;
    color: $white;
  }
}


/* navbar */
.navbar {
  input {
    display: none;
  }

  input + label {
    position: fixed;
    top: 15px;
    right: 20px;
    height: 20px;
    width: 30px;
    z-index: 5;

    span {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: $white;
      transition: .5s;
    }

    span:first-child {
      top: 0px;
    }

    span:last-child {
      top: 20px;
    }
  }

  label:hover {
    cursor: pointer;
  }

  input:checked + label {
    span {
      opacity: 0;
      top: 50%;
    }

    span:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }

    span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }

  input ~ nav {
    background: rgba(37, 35, 35, 0.91);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;

    > ul {
      text-align: center;
      position: absolute;
      top: 10%;
      left: 20%;
      right: 20%;

      > li {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;

        > a {
          text-decoration: none;
          text-transform: uppercase;
          color: $white;
          font-weight: 300;
          display: block;
          padding: 30px;

          &:hover {
            background-color: rgba(42, 123, 229, 0.65);
            border-radius: 6px;
          }
        }
      }
    }
  }

  input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;

    > ul {
      > li {
        opacity: 1;
        transition-delay: .5s;
      }
    }
  }

  @media#{$tablet} {
    input + label {
      display: none;

      span {
        display: none;
      }
    }
    input ~ nav {
      height: 80px;

      ul {
        display: flex;
        justify-content: center;

        li {
          display: inline;
          opacity: 1;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
            padding: 15px;

            &:hover {
              background-color: rgba(42, 123, 229, 0.65);
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}

/* SLIDER */
.slider-container {
  display: flex;
  justify-content: center;
  height: 95vh;

  div {
    width: 90%;
    padding: 3rem 0.6rem;
    color: $white;
    text-align: center;
    margin-top: 3rem;

    h1 {
      font-size: 4rem;
      padding-top: 2rem;
      font-family: $primary-typo;
    }

    i {
      padding-top: 5rem;
      font-size: 4rem;


      &:hover {
        cursor: pointer;
        font-size: 25rem;
      }
    }

    @media#{$desktop}{
      div {
        width: 60%;

        h1 {
          font-size: 7rem;
        }

      }
    }
  }
}


//About
section {
  padding: 1.6rem 1.3rem;


  .about-container {
    p {
      padding: 0.8rem 0;
      font-size: 0.9rem;
      text-align: justify;
      margin-left: 0;
    }

    img {
      border-radius: 8px;
      @media#{$tablet}{
        width: 100vh;
      }
    }

    @media#{$tablet} {
      display: flex;
      justify-content: space-around;
      align-items: center;
      div {
        width: 45%;
      }
      p {
        font-size: 1.1rem;
      }
      .hidden {
        display: none;
        @media#{$desktop}{
          display: initial;
        }
      }
    }
  }

}

//Skills
.skills {
  .skills-container {
    text-align: center;
    h3{
      margin-bottom: 0.7rem;
    }
    a {
      margin-top: 3rem;
      width: 2.3rem;
      height: 1.5rem;
      padding: 0.7rem;
      text-decoration: none;
      color: $white;
      background-color: $primary-color;
      border-radius: $radius ;
    }
    p {
      padding: 0.8rem 0;
      font-size: 0.9rem;
      text-align: justify;
      margin-left: 0;
      margin-top: 1rem;
    }

    img {
      height: 400px;
      filter: blur(2px);
    }

    .cv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        width: 160px;
        font-size: 1rem;
        margin-top: 2rem;
        padding: 0.7rem;
        background-color: $primary-color;
        color: $white;
        border: $border;
        border-radius: $radius;
        cursor: pointer;

        &:hover {
          background-color: $white;
          color: $primary-color;
        }
      }

    }


    @media#{$tablet} {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 590px;
      div {
        width: 47%;
      }
      p {
        font-size: 1.1rem;
      }

      input {
        max-width: 250px;
      }
    }

    img {
      max-width: 550px;
      height: 400px;
    }
  }

  @media#{$large} {
    height: 650px;
    .cv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }

}


//Experiences
.experience {
  .exp-container {
    text-align: center;

    div {
      margin: 2%; // va augmenter la marge entre les diff cartes
      padding: 0.6rem 0.4rem 1rem 0.4rem;
      border-radius: 6px;
    }

    h4 {
      padding: 1.8rem 0;
      font-size: 1.4rem;
      font-weight: bold;
    }

    img {
      width: 80%;
      height: auto;
      filter: grayscale(100%);
      padding-bottom: 1.4rem;
      border-radius: $radius;

      &:hover {
        filter: none;
      }
    }


    @media #{$tablet}{
      display: flex;
      flex-wrap: wrap;
      div {
        margin: 2%;
        width: 45%;
      }
    }
    @media #{$desktop}{
      div {
        width: 21%;
      }
    }
  }
}

//portfolio
.portfolio {
  .port {
    width: 100%;
    height: 400px;
    display: grid;
    place-items: center;
    @media #{$tablet}{
      margin-bottom: 5%;
      height: auto;
    }
  }

  .slide {
    width: 100%;
    height: 350px;
    background-image: url("../img/port1.jpg");
    background-size: 100% 100%;
    border-radius: $radius;
    animation: changeImage 20s linear infinite;
    @keyframes changeImage {
      0% {
        background-image: url("../img/port1.jpg");
      }
      20% {
        background-image: url("../img/port2.jpg");
      }
      40% {
        background-image: url("../img/port3.jpg");
      }
      60% {
        background-image: url("../img/port4.jpg");
      }
      80% {
        background-image: url("../img/port5.jpg");
      }
      100% {
        background-image: url("../img/port6.jpg");
      }
    }
    @media#{$tablet}{
      width: 80%;
      height: 450px;

    }
    @media#{$desktop}{
      max-width: 70%;
      height: 500px;

    }
  }
}

//contact
.contact {
  text-align: center;
  margin-bottom: 3%;

  .container {
    margin: 2%;

    input[type=text], textarea, input[type=email] {
      width: 100%;
      padding: 12px;
      border: $border;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 6px 0 16px 0;
    }

    textarea {
      height: 200px;
    }

    label {
      width: 100%;
    }

    input[type=submit] {
      color: $white;
      background-color: $primary-color;
      margin-bottom: 3rem;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $white;
        color: $primary-color;

        transition: 0.5s;
      }
    }

    @media #{$tablet}{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .cont {
        width: 45%;
      }
      .card {
        margin-top: -4rem;
        width: 48%;
      }
    }
  }
}


.footer {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: rgba(37, 35, 35, 0.91);
  box-shadow: 0 0 10px 0 #666;
  color: white;
  text-align: center;


  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    .socials {
      margin-top: 5%;
      font-size: 1.3rem;

      a {
        text-decoration: none;
        color: $primary-color;
        padding: 10px;
      }
      .icofont-twitter:hover{
        color: white;
        background-color: $primary-color;
      }
      .icofont-linkedin:hover{
        color: white;
      }
      .icofont-github:hover{
        color: black;
      }
      .icofont-instagram:hover {
        color: red;
      }

      p {
        font-size: 1rem;
      }

      @media #{$tablet} {
        margin-top: 3%;
        i {
          font-size: 1.7rem;
        }
      }
      @media #{$desktop}{
        margin-top: 1%;
        i {
          margin-right: 25px;
        }
      }
    }

    .copyright {
      margin-top: 5%;
      @media #{$tablet} {
        margin-top: 4%;
        p {
          font-size: 1rem;
        }
      }
      @media#{$desktop}{
        margin-top: 1.3%;
      }
    }
  }

  .top {
    height: 50px;
    width: 50px;
    background: $primary-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: $white;

      i {
        font-size: 1.6rem;
      }
    }
  }
}
