// variables


// colors

$primary-color: #2525c0;
$white : #f6f5f5;
$bg-color : #00000020;
$cardT-color :  rgba(255,254,246,0.82);
// nav
$color-secondary-grey: #BDC3C7;

$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;
$btnBackground: rgba(0, 0, 0, 0.7);
// typo

$primary-typo : 'Montserrat', sans-serif;


// BACK
$bg-image: url('../img/header-image.jpg');

//BORDER & CORNERS
$radius: 8px;
$border-color: $white;
$border: 0.2px solid $primary-color;

// MEDIA
$tablet : ' screen and (min-width: 768px)';
$desktop : ' screen and (min-width: 992px)';
$large : ' screen and (min-width: 1200px)';